{%extends 'all-news/base.html'%}
{% load bootstrap5 %}

{% block content %}
{{block.super}}
<div class="container">

    <!-- Looping through news   -->
    {% for news_item in news %}
  
    <div class="row">
      <!-- displaying News articles -->
      <div class="col ">
          <div class="card">
              <div class="card-title"><h2 class="text-center"> {{ news_item.title }} </h2>
                <small class="text-muted"> {{news_item.pub_date}}</small>
               </div>
               <div class="card-img"><img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image" style="height:400px ; width:700px;"></div>
              <div class="card-body">
                <p class="text-center">{{news_item.post}}</p>
              </div>
              <div class="card-footer">
                <p>Posted by: {{news_item.editor}}</p>
              </div>
          </div>
        
       
      </div>
  
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}
    <!-- form -->
    <div class="container-fluid">

      <form  action="{%url 'newsToday'%}" method="post">
        {%csrf_token%}
    
        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
      </form>
  </div>
  

{% endblock %}
